In [1]:
# Import the libraries pandas and numpy
import pandas as pd
import numpy as np

In [2]:
# Create a DataFrame for the 'Actual Duration' csv file using pd.read()
# Check the dataset has loaded correctly using shape, type and head() functions
# Used the print functions in combination with functions as this will provide an output for each function
# Used head() function as this gives a snapshot of what the data looks like
actual_duration = pd.read_csv('actual_duration.csv')

print(actual_duration.shape)
print(actual_duration.dtypes)

actual_duration.head()

(137793, 8)
sub_icb_location_code        object
sub_icb_location_ons_code    object
sub_icb_location_name        object
icb_ons_code                 object
region_ons_code              object
appointment_date             object
actual_duration              object
count_of_appointments         int64
dtype: object

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
0,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,31-60 Minutes,364
1,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,21-30 Minutes,619
2,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,6-10 Minutes,1698
3,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,Unknown / Data Quality,1277
4,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,16-20 Minutes,730

In [3]:
# Create a DataFrame to store 'appointments_regional' dataset
# Check the dataset has loaded correctly using shape, type and head() functions
# Used the print functions with check functions as this will provide an output for each function
# Used head(5) function as this gives a snapshot of data limited to 5 rows

appointments_regional = pd.read_csv('appointments_regional.csv')

print(appointments_regional.shape)
print(appointments_regional.dtypes)

appointments_regional.head(5)

(596821, 7)
icb_ons_code                         object
appointment_month                    object
appointment_status                   object
hcp_type                             object
appointment_mode                     object
time_between_book_and_appointment    object
count_of_appointments                 int64
dtype: object

,icb_ons_code,appointment_month,appointment_status,hcp_type,appointment_mode,time_between_book_and_appointment,count_of_appointments
0,E54000034,2020-01,Attended,GP,Face-to-Face,1 Day,8107
1,E54000034,2020-01,Attended,GP,Face-to-Face,15 to 21 Days,6791
2,E54000034,2020-01,Attended,GP,Face-to-Face,2 to 7 Days,20686
3,E54000034,2020-01,Attended,GP,Face-to-Face,22 to 28 Days,4268
4,E54000034,2020-01,Attended,GP,Face-to-Face,8 to 14 Days,11971

In [4]:
# Created a DataFrame to store the 'National Categories' excel file
# Checkes dataset has loaded correctly using shape, type and head() functions
# Used the print functions with check function as this will provide an output for each function
# Used head() function as this gives a snapshot of what the data looks like

national_categories = pd.read_excel('national_categories.xlsx')

print(national_categories.shape)
print(national_categories.dtypes)
national_categories.head()

(817394, 8)
appointment_date         datetime64[ns]
icb_ons_code                     object
sub_icb_location_name            object
service_setting                  object
context_type                     object
national_category                object
count_of_appointments             int64
appointment_month                object
dtype: object

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
0,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Primary Care Network,Care Related Encounter,Patient contact during Care Home Round,3,2021-08
1,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Other,Care Related Encounter,Planned Clinics,7,2021-08
2,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Home Visit,79,2021-08
3,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,General Consultation Acute,725,2021-08
4,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Structured Medication Review,2,2021-08

In [5]:
# Determine the descriptive statistics for the National Categories dataset
national_categories.describe()

       count_of_appointments
count          817394.000000
mean              362.183684
std              1084.576600
min                 1.000000
25%                 7.000000
50%                25.000000
75%               128.000000
max             16590.000000

In [6]:
# Determine the metadata for the National Categories dataset
national_categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 817394 entries, 0 to 817393
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   appointment_date       817394 non-null  datetime64[ns]
 1   icb_ons_code           817394 non-null  object
 2   sub_icb_location_name  817394 non-null  object
 3   service_setting        817394 non-null  object
 4   context_type           817394 non-null  object
 5   national_category      817394 non-null  object
 6   count_of_appointments  817394 non-null  int64
 7   appointment_month      817394 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 49.9+ MB

In [7]:
# Q1. How many locations are there in the data set?
# Data is sorted in desc order using value_counts

national_categories['sub_icb_location_name'].value_counts()

NHS North West London ICB - W2U3Z              13007
NHS Kent and Medway ICB - 91Q                  12637
NHS Devon ICB - 15N                            12526
NHS Hampshire and Isle Of Wight ICB - D9Y0V    12171
NHS North East London ICB - A3A8R              11837
                                               ...
NHS North East and North Cumbria ICB - 00N      4210
NHS Lancashire and South Cumbria ICB - 02G      4169
NHS Cheshire and Merseyside ICB - 01V           3496
NHS Cheshire and Merseyside ICB - 01T           3242
NHS Greater Manchester ICB - 00V                2170
Name: sub_icb_location_name, Length: 106, dtype: int64

In [8]:
# Print the number of locations
print(f"The count of locations is {national_categories['sub_icb_location_name'].count()}")

The count of locations is 817394

In [9]:
# Q2. What are the five locations with the highest number of records?
# The most popular location is found using idxmax()
national_categories['sub_icb_location_name'].value_counts().idxmax()

'NHS North West London ICB - W2U3Z'

In [10]:
#Create a DataFrame of the locations 
national_categories['sub_icb_location_name'].value_counts().to_frame('locations')

                                             locations
NHS North West London ICB - W2U3Z                13007
NHS Kent and Medway ICB - 91Q                    12637
NHS Devon ICB - 15N                              12526
NHS Hampshire and Isle Of Wight ICB - D9Y0V      12171
NHS North East London ICB - A3A8R                11837
...                                                ...
NHS North East and North Cumbria ICB - 00N        4210
NHS Lancashire and South Cumbria ICB - 02G        4169
NHS Cheshire and Merseyside ICB - 01V             3496
NHS Cheshire and Merseyside ICB - 01T             3242
NHS Greater Manchester ICB - 00V                  2170

[106 rows x 1 columns]

In [11]:
# Print the top 5 locations - as series is already sorted in Desc order
national_categories['sub_icb_location_name'].value_counts().iloc[0:5]

NHS North West London ICB - W2U3Z              13007
NHS Kent and Medway ICB - 91Q                  12637
NHS Devon ICB - 15N                            12526
NHS Hampshire and Isle Of Wight ICB - D9Y0V    12171
NHS North East London ICB - A3A8R              11837
Name: sub_icb_location_name, dtype: int64

In [15]:
# How many service settings, context types, national categories, and appointment statuses are there?
# Counting the unique values in each column 
national_categories.nunique()

appointment_date          334
icb_ons_code               42
sub_icb_location_name     106
service_setting             5
context_type                3
national_category          18
count_of_appointments    9957
appointment_month          11
dtype: int64

In [18]:
# Import the datetime library
from datetime import datetime

In [19]:
national_categories.head(5)

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
0,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Primary Care Network,Care Related Encounter,Patient contact during Care Home Round,3,2021-08
1,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Other,Care Related Encounter,Planned Clinics,7,2021-08
2,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Home Visit,79,2021-08
3,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,General Consultation Acute,725,2021-08
4,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Structured Medication Review,2,2021-08

In [20]:
actual_duration.head(5)

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
0,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,31-60 Minutes,364
1,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,21-30 Minutes,619
2,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,6-10 Minutes,1698
3,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,Unknown / Data Quality,1277
4,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,16-20 Minutes,730

In [21]:
# Change the date format of ad['appointment_date']
actual_duration['appointment_date'] = pd.to_datetime(actual_duration['appointment_date'])

In [22]:
actual_duration.dtypes

sub_icb_location_code                object
sub_icb_location_ons_code            object
sub_icb_location_name                object
icb_ons_code                         object
region_ons_code                      object
appointment_date             datetime64[ns]
actual_duration                      object
count_of_appointments                 int64
dtype: object

In [23]:
# Determine the minimum and maximum dates in the ad DataFrame.
# Use appropriate docstrings.
print(actual_duration['appointment_date'].max())
print(actual_duration['appointment_date'].min())
print(f"The minimum date value in the NC dataframe is {actual_duration['appointment_date'].min()}")
print(f"The maximum date value in the NC dataframe is {actual_duration['appointment_date'].max()}")

2022-06-30 00:00:00
2021-12-01 00:00:00
The minimum date value in the NC dataframe is 2021-12-01 00:00:00
The maximum date value in the NC dataframe is 2022-06-30 00:00:00

In [24]:
# Determine the minimum and maximum dates in the nc DataFrame.
# Use appropriate docstrings.
print(f"The minimum date value in the NC dataframe is {national_categories['appointment_date'].min()}")
print(f"The maximum date value in the NC dataframe is {national_categories['appointment_date'].max()}")

The minimum date value in the NC dataframe is 2021-08-01 00:00:00
The maximum date value in the NC dataframe is 2022-06-30 00:00:00

In [25]:
# For each of these service settings, determine the number of records available for the period and the location. 
nc_subset = national_categories.loc[(national_categories["sub_icb_location_name"] ==\
                                    'NHS North West London ICB - W2U3Z') & \
                                    (national_categories["appointment_date"].between('2022-01-01','2022-06-01'))]

nc_subset

# View the output.

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
800289,2022-01-01,E54000027,NHS North West London ICB - W2U3Z,Unmapped,Unmapped,Unmapped,496,2022-01
800290,2022-01-01,E54000027,NHS North West London ICB - W2U3Z,Primary Care Network,Care Related Encounter,Clinical Triage,19,2022-01
800291,2022-01-01,E54000027,NHS North West London ICB - W2U3Z,Other,Inconsistent Mapping,Inconsistent Mapping,1,2022-01
800292,2022-01-01,E54000027,NHS North West London ICB - W2U3Z,General Practice,Inconsistent Mapping,Inconsistent Mapping,16,2022-01
800293,2022-01-01,E54000027,NHS North West London ICB - W2U3Z,Primary Care Network,Care Related Encounter,Planned Clinics,29,2022-01
...,...,...,...,...,...,...,...,...
806220,2022-06-01,E54000027,NHS North West London ICB - W2U3Z,Extended Access Provision,Care Related Encounter,Home Visit,4,2022-06
806221,2022-06-01,E54000027,NHS North West London ICB - W2U3Z,Extended Access Provision,Care Related Encounter,General Consultation Routine,27,2022-06
806222,2022-06-01,E54000027,NHS North West London ICB - W2U3Z,General Practice,Care Related Encounter,Unplanned Clinical Activity,626,2022-06
806223,2022-06-01,E54000027,NHS North West London ICB - W2U3Z,Extended Access Provision,Care Related Encounter,General Consultation Acute,224,2022-06
806224,2022-06-01,E54000027,NHS North West London ICB - W2U3Z,Extended Access Provision,Care Related Encounter,Clinical Triage,96,2022-06

In [26]:
# For each of these service settings, determine the number of records available for the period and the location. 
service_setting = len(pd.unique(national_categories['service_setting']))

print("No. of service settings:", service_setting)

No. of service settings: 5

In [30]:
# Which service setting in NW London had the most number of appointments?
nc_subset['service_setting'].value_counts()

General Practice             2104
Other                        1318
Primary Care Network         1272
Extended Access Provision    1090
Unmapped                      152
Name: service_setting, dtype: int64

In [33]:
# Which month had the highest number of appointments?
# Number of appointments per month == sum of count_of_appointments by month.
# Use the groupby() and sort_values() functions.

national_categories.groupby('appointment_month')[['count_of_appointments']]\
.sum().sort_values('count_of_appointments', ascending=False)

                   count_of_appointments
appointment_month
2021-11                         30405070
2021-10                         30303834
2022-03                         29595038
2021-09                         28522501
2022-05                         27495508
2022-06                         25828078
2022-01                         25635474
2022-02                         25355260
2021-12                         25140776
2022-04                         23913060
2021-08                         23852171

In [36]:
national_categories.groupby('service_setting')[['count_of_appointments']]\
.sum().sort_values('count_of_appointments', ascending=False)

                           count_of_appointments
service_setting
General Practice                       270811691
Unmapped                                11080810
Primary Care Network                     6557386
Other                                    5420076
Extended Access Provision                2176807

In [40]:
# Sort count of appointment by service setting by month
national_categories.groupby(['appointment_month', 'service_setting'])[['count_of_appointments']]\
.sum().sort_values('appointment_month', ascending=False)

                                             count_of_appointments
appointment_month service_setting
2022-06           Unmapped                                  758640
                  Primary Care Network                      700599
                  Other                                     478813
                  General Practice                        23680374
                  Extended Access Provision                 209652
2022-05           Unmapped                                  820770
                  Primary Care Network                      712280
                  Other                                     503327
                  General Practice                        25238620
                  Extended Access Provision                 220511
2022-04           General Practice                        21916791
                  Extended Access Provision                 192284
                  Other                                     437402
                  Primary Care Network                      606270
                  Unmapped                                  760313
2022-03           Unmapped                                  942912
                  Primary Care Network                      702176
                  Other                                     530677
                  General Practice                        27187368
                  Extended Access Provision                 231905
2022-02           Unmapped                                  811246
                  Primary Care Network                      585300
                  Other                                     456153
                  General Practice                        23305934
                  Extended Access Provision                 196627
2022-01           Primary Care Network                      569044
                  Unmapped                                  839562
                  Other                                     457440
                  Extended Access Provision                 186375
                  General Practice                        23583053
2021-12           Unmapped                                  954257
                  Primary Care Network                      539479
                  Other                                     464718
                  General Practice                        23008818
                  Extended Access Provision                 173504
2021-11           Extended Access Provision                 207577
                  Unmapped                                 1256496
                  Primary Care Network                      614324
                  Other                                     558784
                  General Practice                        27767889
2021-10           Other                                     556487
                  Extended Access Provision                 209539
                  General Practice                        27606171
                  Unmapped                                 1366656
                  Primary Care Network                      564981
2021-09           Unmapped                                 1336115
                  Primary Care Network                      530485
                  Other                                     527174
                  General Practice                        25940821
                  Extended Access Provision                 187906
2021-08           Primary Care Network                      432448
                  Other                                     449101
                  General Practice                        21575852
                  Unmapped                                 1233843
                  Extended Access Provision                 160927

In [ ]:
# Total number of records per month
actual_duration.groupby('')